name: Crawl and Post
on:
  schedule:
    - cron: '0 15 * * *'
  workflow_dispatch:
permissions: write-all
jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      NOSTR_PRIVATE_KEY: ${{ secrets.NOSTR_PRIVATE_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: check
        run: |
          npm install
          npm run crawl
